<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio source</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ff').change(function () {
                $('#ff_name').val($(this).val());
            })
        });
    </script>
</head>
<body>

<div class="container">

    <form action="/upload" method="post" enctype="multipart/form-data" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="ff_name" class="form-control input-group-addon">
                <a class="btn btn-default input-group-addon" onclick="$('input[id=ff]').click();">Select file to
                    upload</a>
            </div>
            <input id="ff" type="file" name="file" style="display:none;">
            <button type="submit" name="submit" value="default" class="btn btn-default">Upload file</button>
            <button type="submit" name="submit" value="mix" class="btn btn-default">Upload mix</button>
        </div>
    </form>

    <hr/>

    <form action="/download" method="post" enctype="multipart/form-data" class="form-inline">
        <div class="form-group">
            <label for="url">Input url (youtube, soundcloud, etc)</label>
            <input id="url" type="text" name="url" class="form-control">
            <button type="submit" name="submit" value="default" class="btn btn-default">Download from web</button>
            <button type="submit" name="submit" value="mix" class="btn btn-default">Download mix from web</button>
        </div>
    </form>

    <hr/>
    <p>NP: {{ np }}</p>
    <hr/>

    <form class="form-inline">
        <input type="submit" value="del np" class="btn btn-default" formmethod="post" formaction="/del">
        <input type="submit" value="next" class="btn btn-default" formmethod="post" formaction="/next">
        <input type="submit" value="reload" class="btn btn-default" formmethod="post" formaction="/reload">
    </form>
</div>
</body>
</html>